doctype html
html
  head
    title Chat
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='style.css')
    script(src="jquery.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
    script(type="text/javascript" src="script.js")
  body
    nav(role='navigation').navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a(href="/").navbar-brand Node Chat
    .container
      .row
        header
          h1 A chat app with Socket.io and Node.js
      .row
        .form-inline
          .form-group
            input(type="text", autofocus=true)#pseudoInput.form-control
            button#pseudoSet.btn.btn-primary Set Pseudo
      .row
        h4#chatHeader ChatBox
        div#chatEntries
      .row
        .form-inline#chatInputs
          .form-group
            div#chatControls
              input(type="text")#messageInput.form-control
              button#submit.btn.btn-primary Send